<html>
<head>
  <title>ERROR PAGE</title>
  <link rel="stylesheet" href="/css/vendor/bootstrap.css">
  <style type="text/css">
    .center {text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;}
  </style>
</head>
<body>

<div class="main-container">
  <div class="row">
    <div class="span12">
      <div class="hero-unit center">
        <!-- <img src='/images/page_not_found.png'> -->
          <h1>Internal Server Error <small><font face="Tahoma" color="red">Error 500</font></small></h1>
          <br/>
          <a href="/" class="btn btn-large btn-info">Take Me Home</a>
        </div>
        <br />      
    </div>
  </div>
</div>
</body>
</html>