/* app css stylesheet */
html{
  height: 100%;
}

ul{
  list-style: none;
}

div.view-container{
  height: 100%;
}

div.view-frame{
  height: 100%;
}

div.full-screen{
  height: 100%;
}

.loadingbox {
  text-align: center;
  width: 200px;
  height: 24px;
  line-height: 12px;
  position: fixed;
  left: 50%;
  top: 0;
  margin-left: -100px;
  padding: 6px 16px 6px 16px;
  font-weight: bold;
  font-size: 12px;
  color: #333;
  background: #f9edbe;
  border: 1px solid #f0c36d;
  border-radius: 5px;
  z-index: 10000;
}
.infobox {
  border: 1px solid #EBC4C4;
  color: #D36C67;
  display: block;
  height: auto;
  position: fixed;
  text-align: center;
  vertical-align: middle;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  font-size: 18px;
  z-index: 1600;
  border-radius: 5px;
  padding: 6px 4px;
}

.infobox_danger {
  background-color: #FEF1F1;
  color: #D36C67;
}

.infobox_success {
  background-color: #dff0d8;
  color: #468847;
}

body {  
  margin: 0px auto;
  /*text-align: center;*/
  min-width: 800px;
  width: 100%;
  height: 100%;
}
h4.bigger {
font-size: 18px;
}


#table_file{
  font-size:12pt;
  margin-bottom: 0px;
}
.pointer_underline {
  cursor: pointer;
}
.pointer_underline:hover { 
  text-decoration:underline; 
}

#file_suffix {
  color: #727283;
}
.file_item_name {
  cursor: pointer;
}
.file_item_name:hover { 
  text-decoration:underline; 
}
.table_file_name {
  width: 60%;
  min-width:470px;
}
#table_file_kind {
  /*width: 15%;*/
  min-width: 120px;
}
#table_file_date {
  min-width: 200px;
  /*width: 25%;*/
}

.table_version_name {
  max-width:500px;
  width: 50%;
}
.table_version_size {
  min-width:100px;
  width: 15%;
}
.table_version_date {
  min-width:200px;
  width: 20%;
}
.container {
  min-width: 830px;
}
.container .jumbotron {
  padding: 0px 5px;
  font-size: 17px;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: middle;
  border-top: 1px solid #dddddd;
}

.table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}


.nav-float-fixed{
  z-index: 10000000;
  position: fixed !important;
  top: 0;
  width: 1126px;
}

.nav > li > button{
  position: relative;
  display: block;
  padding: 5px 25px;
  border: 0;
}

.user-info {
line-height: 15px;
max-width: 200px;
position: relative;
text-align: left;
top: 0px;
vertical-align: sub;
white-space: pre-line;
left: auto;
right: 0px;
}

.ace-nav>li>a {
/*background-color: rgb(80, 144, 193);*/
color: #FFF;
height: 99%;
line-height: inherit;
min-width: 50px;
padding: 0 12px;
position: relative;
text-align: center;
width: auto;
}

.header {
  height: 40px;
}

.text-muted {
color: #000;
padding:0 15px;
}
.blankarea {
  height:10px;
}

.draghover{
  border: 3px;
  border-color: #0f0; 
  border-style: solid;
}

.dragnormal{
  border: 3px;
  border-color: #fff; 
  min-width: 800px;
  border-style: solid;
}

.table_move_style{
  background: #6FB3E0;
}

.table > thead > tr > td.blue,
.table > tbody > tr > td.blue,
.table > tfoot > tr > td.blue,
.table > thead > tr > th.blue,
.table > tbody > tr > th.blue,
.table > tfoot > tr > th.blue,
.table > thead > tr.blue > td,
.table > tbody > tr.blue > td,
.table > tfoot > tr.blue > td,
.table > thead > tr.blue > th,
.table > tbody > tr.blue > th,
.table > tfoot > tr.blue > th {
  background-color: #D8E2E9;
  border-color: #D8E2E9;
}

.ace-nav > li > ul {
  padding: 5px 15px;
}
.user-menu > li {
  line-height: 30px;
}
.user-menu > li > a {
  font-size: 14px;
  padding-left: 0px;
}
.user-menu > li > span{
  color: #727283;
}
.user-menu > li > .progress{
  height: 10px;
}

.row-options{
  width: 20px;
  height: 16px;
  float: right;
  position: relative;
  margin-left: 9px;
}

.row-options:hover{
  cursor: pointer;
}

.copy-share-link {
  cursor: pointer;
}
.copy-share-link:hover{
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4) inset;
}

.row-options:active{
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4) inset;
}

.more-topper-8{
  top: 8px;
}

.more-topper-7{
  top: 7px;
}

.share-link-display{
  width: 426px !important;
}
.share-options{
  width: 100%;
}

.dropdown-menu{
  min-width: 200px;
}
.popover {
  display: block;
  min-width: 350px;
}

.btn-share-password, .btn-share-expired{
  width: 215px !important;
}

/*.input-share-password, .input-share-expired{
  height: 37px !important;
}*/

.btn-invaild-share{
  float: right;
  width: 165px;
}

.p-share-option{
  max-width: 839px !important;
}

.h3-share-title
{
  /*background-color: #eff3f8;*/
  border-radius: 0;
  color: #555;
  text-shadow: 1px 1px 1px rgba(220,220,220,0.2);
}

.cursor-normal{
  cursor: default !important;
}

.btn-dropdwon-toggle{
  padding: 4px 1px 4px 1px !important;
  margin-left: -2px !important;
}

.group-dropdown{
  height: 53px !important;
}
.login-layout {
  background-color: rgb(240, 240, 240);
}

.titbar {
  background-color: #ffffff;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

/* modified by benjamin.c.yan */
input.newegg-checkbox-label
{
    margin-right: 10px;
    margin-top: -5px;
    height: inherit;
    vertical-align: middle;
    
}
button.btn span.icon-caret-down
{
    margin-right: 10px;
}
table.cursor-normal
{
    width: 100%
}
div.header {
  margin-bottom: 6px;
}
div.header-color-blue2
{
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 5px;
}

h5 img{
  margin-right: 10px;
}

.widget-header.fixed {
  background-color: #DDD;
  display: block;
  position: fixed;
  top: 0;
  z-index: 1000;
  padding-left: 20px;
  margin-top: 0;
}
.jumbotron.padding {
  padding-top: 60px;
}

.hidden-parent-margin-bottom{
  margin-bottom: 0px;
}

.login-bar{
  display: inline-block;
  top: 15px;
  vertical-align: top;
  float: right;
  margin-top: 15px;
  margin-right: 15px;
}

.bananer{
  margin-left: 569px;
}

.sellBuy-title-container{
  width: 100%;
}

.list-layout{
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 100%;
}

.do-title{
  text-align: center;
  font-size: 28px;
  display: block;
}

.do-title:hover{
  color: #1c4cf8;
  cursor: pointer;
}

.sell-content,.buy-content{
  display: inline-block;
  width: 49%;
}

.buy-content{
  float: right;
  padding-left: 15px;
  padding-right: 15px;
}

.popover-parent{
  display: inline-block !important;
  margin-right: 12px;
  height: 100%
}

.sell-content{
  padding-left: 15px;
  padding-right: 15px;
  /*border-right: 1px solid #ccc;*/
}

.search-container{
  width: 100%;
}

.search-box{
  width: 100%
}

.search-box > span{
  width: 100%
}

.show-items{
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 600px; 
  width: 100%;
}

.show-items > ul{
  list-style: none;
}

.show-items > ul > li img{
  float: left;
  margin-right: 15px;
}

.item{
  height: 128px;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 6px;
  line-height: 18px;
}

.item-content{
  display: block;
  font-size: 18px;
  height: 85%;
  width: 80%;
  color: #000;
  border: 0 none;
  resize: none;
}

.item-info1{
  vertical-align: bottom;
  float: left;
  margin-top: 9px;
}

.item-info2{
  vertical-align: bottom;
  float: right;
  margin-top: 9px;
  font-size: 80%
}

.edit-item{
  margin-right: 4px;
}

.edit-item:hover{
  opacity: 0.6;
  filter:(alpha=0.6);
  cursor: pointer;
}

.sellBuy-user-info{
  display: block;
  width: 100%;
}

.sellBuy-user-info > label{
  font-size: 80%;
  width: 45%;
  margin: 6px 3px 7px 8px;
}

.sellBuy-description{
  font-size: 80%;
  display: block;
}

.sellBuy-ok-cancel{
  float: right;
  display: block;
  vertical-align: bottom;
  margin: 15px 0px 15px 0px;
}

.sellBuy-cancel{
  margin-right: 7px;
  line-height: 8px;
}

.sellBuy-delete{
  display: inline-block;
  margin-right: 20px;
  color: #d9534f;
}

.sellBuy-cancel:hover, .sellBuy-delete:hover{
  cursor: pointer;
  opacity: 0.5;
  filter:(alpha=0.5);
}
.sellBuy-item-content-input{
  min-height: 220px;
  min-width: 580px;
}

.go-right{
  float: right;
}

.full-width{
  width: 100%;
}

.refresher{
  display: block;
  vertical-align: middle;
}

.search-remove{
  margin-right: 24px;
  opacity: 0.8;
  filter:(alpha=0.8);
}

.search-remove:hover{
  cursor: pointer;
  opacity: 0.5;
  filter: (alpha=0.5);
}

.default-thumbnail-container{
  border: 1px solid #ccc;
  width: 128px;
  height:128px;
  float:left;
  margin-right: 5px;
}

.default-thumbnail{
  vertical-align: middle;
  position: relative;
  top: 45%;
  display: block;
}

.upload-region{
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 34px;
}