<div class='popover-content' sellbuy-popover>
	<div class='sellbuy-title-container'>
		<span class='sellBuy-title'>{{sellBuyTitle}}</span>
		<span class='close' ng-click='closeSelf()'>×</span>
	</div>
	<span class='sellBuy-description'><i class='icon-exclamation-sign'></i>
			亲，设置密码才能在下次编辑哦！
	</span>
	<div class='sellBuy-user-info'>
		<label class="inline clearfix">
			<span class="inline input-icon input-icon-right full-width">
				<input type="text" id='username' class="form-control" placeholder="Who are you?" ng-model="selectedItem.user"/>
				<i class="icon-user"></i>   
			</span>
		</label>
		<label class="inline clearfix go-right">
			<span class="inline input-icon input-icon-right full-width">
				<input type="password" id='username' class="form-control" placeholder="Password" ng-model="password"/>
				<i class="icon-lock"></i>   
			</span>
		</label>
	</div>
	<div>
		<input type='text' placeholder='Tag标签：请用空格分隔...' style='font-style: Italic;width: 100%;margin-bottom:7px' ng-model='selectedItem.tagsString'>
	</div>
	<div class='sellBuy-item-content'>
		<textarea class='sellBuy-item-content-input' ng-model='selectedItem.content'></textarea>
	</div>
	<div class='upload-thumbnail'>
		<div class='upload-region'>
			<span class='btn btn-info fileinput-button' ng-hide='uploading'>
				<i class="glyphicon glyphicon-plus"></i>
				<span>选择图片...</span>
				<input type='file' id='fileupload' name='files[]' style='display:inline-block;vertical-align: middle;' >
				<span>{{currentSelectedFileName}}</span>
			</span>
			<button id='uploadbtn' class='btn btn-info' style='float:right' ng-disabled='uploading' ng-click='uploadFile()'><i class='icon-refresh icon-spin' ng-show='uploading'></i>上传</button>
		</div>
	</div>
	<div>
		<img ng-src="{{selectedItem.pictureUrl}}" ng-show='selectedItem.pictureUrl' width='32' height='32'>
	</div>
	<div class='sellBuy-ok-cancel'>
		<span ng-show='shouldNotifyResponse' ng-bind='notifyResponseMessage' class='notify-message'></span>
		<span class='sellBuy-delete' ng-click='enterDeleteMode()' ng-show='selectedItem.guid && !deleteMode'>删除</span>
		<span class='sellBuy-cancel' ng-click='closeSelf()' ng-hide='deleteMode'>取消</span>
		<button class='btn btn-info' ng-click='sellBuy()' ng-hide='deleteMode' ng-disabled='!canCreateItem || working'><i class='icon-ok'></i>{{submitText}}</button>
		<span class='sellBuy-delete' ng-click='deleteMe()' ng-show='deleteMode'><small>是！</small></span>
		<span class='sellBuy-delete-cancel' ng-click='leaveDeleteMode()' ng-show='deleteMode'>不，谢谢！</span>
	</div>
</div>