<div class="main-container">
	<div class="main-content">
		<div class='top-content'>
			<img src="image/bananer.png" width='510' height='168' class='bananer'>
			<div class='login-bar' ng-hide='true'>
				<label class="inline clearfix">
					<span class="inline input-icon input-icon-right">
						<input type="text" id='username' class="form-control" placeholder="User" ng-model="user.user"/>
						<i class="icon-user"></i>   
					</span>
				</label>
				<label class="inline clearfix">
					<span class="inline input-icon input-icon-right">
						<input type="password" id='username' class="form-control" placeholder="Password" ng-model="user.password"/>
						<i class="icon-lock"></i>   
					</span>
				</label>
                <button class='btn btn-info' ng-click='login()'><i class='icon-key'> login</i></button>
			</div>
			<div class="pull-right" role="navigation" ng-show='false'>
          	<ul class="nav ace-nav">
            <li>
              <a data-toggle="dropdown" href="" class="dropdown-toggle">
                <!-- <img class="nav-user-photo" ng-src="{{userImg}}" alt='profile img'/>  
                -->
                <span class="user-info">Welcome, {{user.userName}}</span> <i class="icon-caret-down"></i>
              </a>
              <ul id='dropdown_menu' class="user-menu pull-right dropdown-menu dropdown-caret dropdown-close">
                <li>{{user.userName}}</li>
                <li>
                  <a href='' id='logout' ng-click="logout()"> <i class="icon-off"></i>
                    Logout
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        </div>

        <div class='item-container'>
        	<div class='sell-content'>
        		<ul class='list-layout'>
        			<li>
        				<div class='sellBuy-title-container popover-parent' tag='popover-parent' data-request='sell'>
        					<span class='do-title' bs-popover="'views/childview/sellbuy_popover.html'" data-unique='1' data-placement='bottom'>我要卖</span>
        				</div>
        			</li>
        			<li>
        				<div class='search-container'>
                            <label class="inline clearfix search-box">
                                <span class="inline input-icon input-icon-right">
                                    <input type='text' placeholder='Search...' class="form-control" ng-model='sellSearchTerm'>
                                    <i class='icon-remove search-remove' ng-show='!!sellSearchTerm' ng-click='sellSearchTerm=""'></i>
                                    <i class="icon-search"></i>   
                                </span>
                            </label>
        				</div>
        			</li>
        			<li>
        				<div class='show-items' sell-scroll-more>
                            <ul>
                                <li ng-show='$scope.addedSellItem > 0'>
                                    <div class='notify-container'><span class='notify-content' ng-click='uploadSell()'>{{sellNotify}}</span></div>
                                </li>    
            					<li ng-repeat='item in sellItems' class='item' ng-mouseenter='itemHover(item)' ng-mouseleave='itemLeave(item)'>
                                    <div class='default-thumbnail-container'>
                                    <img ng-src='{{item.pictureUrl}}' width='128' height='128' ng-hide='!item.pictureUrl'>
                                    <i class='icon-picture default-thumbnail' ng-show='!item.pictureUrl'></i>
                                    </div>
                                    <textarea class='item-content' ng-model='item.content' ng-readonly='true' ng-disabled='true'></textarea>
                                    <span class='item-info1'>{{item.user}}</span>
            						<span class='item-info2'><div class='popover-parent' tag='popover-parent' data-request='sell-edit'><i class='icon-edit bigger-140 edit-item' ng-show='item.canShowEditor' ng-click='editSellItem(item)' bs-popover="'views/childview/sellbuy_popover.html'" data-unique='1' data-placement='right'></i></div><span>{{item.datetime | datetimeFormat}}</span></span>
            					</li>
                                <li><div><i class='icon-refresh icon-spin bigger-140 refresher' ng-show='loadingMoreSell'>努力加载...</i></div></li>
                            </ul>
        				</div>
        			</li>
        		</ul>
        </div>
        <div class='buy-content'>
        	<div class='buy-title-container'>
        		<ul class='list-layout'>
        			<li>
        				<div class='sellBuy-title-container popover-parent' tag='popover-parent' data-request='buy'>
        					<span class='do-title' bs-popover="'views/childview/sellbuy_popover.html'" data-unique='1' data-placement='bottom'>我要买</span>
        				</div>
        			</li>
        			<li>
                        <label class="inline clearfix search-box">
                                <span class="inline input-icon input-icon-right">
                                    <input type='text' placeholder='Search...' class="form-control" ng-model='buySearchTerm'>
                                    <i class='icon-remove search-remove' ng-show='!!buySearchTerm' ng-click='buySearchTerm=""'></i>
                                    <i class="icon-search"></i>   
                                </span>
                        </label>
        			</li>
        			<li>
        				<div class='show-items' buy-scroll-more>
                            <ul>
                                <li ng-show='$scope.addedBuyItem > 0'>
                                    <div class='notify-container'><span class='notify-content' ng-click='uploadBuy()'>{{buyNotify}}</span></div>
                                </li>    
                                <li ng-repeat='item in buyItems' class='item' ng-mouseenter='itemHover(item)' ng-mouseleave='itemLeave(item)'>
                                    <div class='default-thumbnail-container'>
                                    <img ng-src='{{item.pictureUrl}}' width='128' height='128' ng-hide='!item.pictureUrl'>
                                    <i class='icon-picture default-thumbnail' ng-show='!item.pictureUrl'></i>
                                    </div>
                                    <textarea class='item-content' ng-model='item.content' ng-readonly='true' ng-disabled='true'></textarea>
                                    <span class='item-info1'>{{item.user}}</span>
                                    <span class='item-info2'><div class='popover-parent' tag='popover-parent' data-request='buy-edit'><i class='icon-edit bigger-140 edit-item' ng-show='item.canShowEditor' ng-click='editBuyItem(item)' bs-popover="'views/childview/sellbuy_popover.html'" data-unique='1' data-placement='left'></i></div><span>{{item.datetime | datetimeFormat}}</span></span>
                                </li>
                                <li><div><i class='icon-refresh icon-spin bigger-140 refresher' ng-show='loadingMoreBuy'>努力加载...</i></div></li>
                            </ul>
        				</div>
        			</li>
        		</ul>
        	</div>
        </div>
	</div>
</div>